@use "bulma/sass/utilities/mixins";
@use "bulma/sass/utilities/initial-variables" as iv;
@import "bulma/bulma";
// @import "@/node_modules/bulma/sass/utilities/mixins";

// $border-color: iv.$black; // Use the Sass variable for initial value

$border-color: rgba(200,200,200,0.8); // Use the Sass variable for initial value

.root-container {
    width: 100vw;
    min-height: 100vh;
}

.has-border {
    border: 1px solid $border-color;
}

.table-container {
    overflow: scroll;
}

.has-background-switch {
    background-color: red;
}

.has-background-escalation {
    background-color: lightcoral
}

td.has-background-switch {
    --bulma-table-cell-background-color: red;
    --bulma-table-cell-border-color: red;
}

td.has-background-escalation {
    --bulma-table-cell-background-color: lightcoral;
    --bulma-table-cell-border-color: lightcoral;
}

.is-bar {
    border-bottom: None;
}

.is-bar.is-active {
    background-color: rgba(255, 255, 255, 0.3);   
}

.is-coordinate-system {
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}

.section-wrapper.is-disabled {
    opacity: 0.6;
    /* fade it a bit */
    filter: grayscale(100%);
    /* turn everything grey */
    pointer-events: none;
    /* prevent clicks */
}

.value-label {
    display: inline-block;
    min-width: 6ch;
    /* enough for "2000.00" */
    text-align: left;
}